.header {
    background: rgb(31,51,122);
    background: linear-gradient(75deg, rgba(31,51,122,1) 8%, rgba(85,130,171,1) 69%);
    height: 100vh;
}

img {
    pointer-events: none;
}

.text {
    font-family: 'Roboto', sans-serif;
}