body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url(images/wallpaper.jpg);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#container {
    min-height: 100%;
    height: 100%; /*Solo para IE6*/
}

.titulo {
    margin-top: 10%;
    font-family: 'Fredoka One', cursive; 
    color: #ecf0f1; 
    text-shadow: 4px 4px 5px black; 
}

.social {  
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 25px;
  font-size: 25px;
  border: white 2px solid;
  color: white;
}

.social:hover {
  background-color: #3c40c6;  
}

.contenido {
  animation-duration: 5s;
  animation-name: estilo;
}

@keyframes estilo {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

a {
  text-decoration: none; /* no underline */
}

.cuerpo {
  color: white;
}

.div-cuerpo {
  background-color: #3c40c6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px -6px rgba(12,36,97,1);
  -moz-box-shadow: 10px 10px 5px -6px rgba(12,36,97,1);
  box-shadow: 10px 10px 5px -6px rgba(12,36,97,1);
}

.flat-hr {
  border-top: 1px solid #f5f6fa;
  border-width: 3px;
}

.texto {
  font-family: 'Lato', sans-serif;
}